<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<title>Homework</title>
	</head>
	<body>
		<div id='nav'>
			<h1>Burger Place</h1>
			<a href='/order'>Order</a>
			<a href='/kitchen'>Kitchen</a>
			<a href='/ingredients'>Ingredients</a>
		</div>

		<div id='main'>
			{{{body}}}
		</div>
	</body>

	<!-- DO NOT MODIFY SCRIPT ORDER -->
	<script type='text/javascript' src='javascripts/callbacks.js'></script>
	<script type='text/javascript' src='javascripts/handlers.js'></script>
	<script type='text/javascript' src='javascripts/main.js'></script>
</html>